
@model Image
@{
    var image = Model;
}

<div class="container d-flex justify-content-center py-5">
    <div class="card w-50">
        <img src="@image.Url" class="card-img-top" alt="@image.Title">
        <div class="card-body">
            <h5 class="card-title">@image.Title</h5>
            <p class="card-text">@image.Description</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Visibile: @{
                    if (image.Visible is true)
                    {
                        <i class="mx-3 fa-solid fa-check text-success"></i>
                    } else
                    {
                        <i class="mx-3 fa-solid fa-xmark text-danger"></i>
                    }
                } </li>
            <li class="list-group-item">
                Categorie:
                @foreach (var category in image.Categories!)
                {
                    <span>@category.Name, </span>
                }
            </li>
            <li class="list-group-item"><a class="btn btn-success w-100" href="@Url.Action("Update", "Image", new { Id = image.Id })">Modifica</a></li>
            <li class="list-group-item">
                <form method="post" asp-action="Delete" asp-controller="Image" asp-route-id="@image.Id">
                    @Html.AntiForgeryToken()
                    <button type="submit" class="btn btn-danger w-100">Elimina</button>
                </form>
            </li>
        </ul>
    </div>
</div>